body, html {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Lato', sans-serif;
  margin: 0;
  /* overflow: hidden; */
}

a, button {
  cursor: pointer;
}

* {
  outline: red 1px dashed;
}

.flexContainer {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;

}

.accountMenu {
  margin-left: auto;
  justify-content: flex-end;
  /* padding-right: 30px; */
}

.title {
  flex-grow: 2;
  text-align: center;
  /* width: 100%; */
  height: 40px;
  margin: 10px 0;
}

.title img {
  height: 100%;
}

header a {
  padding: 10px;
}

/*PADDING POD STICKY MENU - ZMIEŃ WRAZ Z WIELKOŚCIĄ EKRANU?*/
nav {
  padding-top: 60px;
}

.shopMenu {
  justify-content: center;
  background-color: black;
}

.shopMenu a {
  padding: 10px 20px;
  color: #fff;
}

.globe, .phone, .bust {
  display: none;
}

@media only screen and (max-width: 800px) {
  .globe, .phone, .bust {
    display: flex;
  }
  .en, .pl, .contact, .register, .login {
    display: none;
  }

  .shopMenu a {
    padding: 10px 6px;
  }
}

.ad {
  display: grid;
  justify-content: center;
}

.ad img {
  max-width: 100%;
}

.galleryCarousel {
  padding: 20px 0;
  text-align: center;
}

.galleryCarousel a img {
  width: 20%;
  max-width: 400px;
  margin: 0 10px;
}

.picAndButtonContainer a img {
  width: 20%;
  max-width: 400px;
  margin: 0 10px;
}

.picAndButtonContainer {
  position: relative;
  z-index: -10;

}

.picButtons {
  
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translate(-50%, -50%);

  letter-spacing: 1px;
  background-color: transparent;
  border: 1px #fff solid;
  color: #fff;
  padding: 5px 20px;
  font-size: 1.2em;
  font-weight: 560;
  
  /*COOL ANIMATION*/
  /* transition: 0.8s;
  position: relative;
  overflow: hidden; */
}

/*COOL ANIMATION*/
/* .picButtons:hover {
  color: #000;
}

.picButtons::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #fff;
  z-index: -1;
  transition: 0.8s;

  top: 0;
  border-radius: 0 0 50% 50%;
}

.picButtons:hover::before {
  height: 180%;
} */