body, html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  outline: red 1px dashed;
}

.flexContainer {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.accountMenu {
  margin-left: auto;
  justify-content: flex-end;
  /* padding-right: 30px; */
}

.title {
  flex-grow: 2;
  text-align: center;
  font-size: 1.5em;
}

header a, .title {
  padding: 10px;
}

/*PADDING POD STICKY MENU - ZMIEŃ WRAZ Z WIELKOŚCIĄ EKRANU?*/
nav {
  padding-top: 50px;
}

.shopMenu {
  justify-content: center;
  background-color: black;
}

.shopMenu a {
  padding: 10px 20px;
  color: #fff;
}

.globe, .phone, .bust {
  display: none;
}

@media only screen and (max-width: 800px) {
  .globe, .phone, .bust {
    display: flex;
  }
  .en, .pl, .contact, .register, .login {
    display: none;
  }

  .shopMenu a {
    padding: 10px 6px;
  }
}

.ad {
  display: grid;
  justify-content: center;
}

.ad img {
  max-width: 100%;
}

.galleryCarousel {
  padding: 20px 0;
  text-align: center;
}

.galleryCarousel a img {
  width: 22%;
  max-width: 400px;
  margin: 0 10px;
}